In [1]:
import pandas as pd
import duckdb
import numpy as np
#from l2therm_in import path, sample_size

In [2]:
con = duckdb.connect('/mnt/c/Users/Ryan/Documents/database')

In [3]:
con.execute("""CREATE OR REPLACE TABLE validprot AS
    SELECT
        prot_pair_index,
        meso_protein_int_index,
        thermo_protein_int_index
    FROM protein_pairs
    USING SAMPLE 1000""")
#con.execute("""SELECT * FROM validprot""").df()

In [4]:
#con.execute("""CREATE OR REPLACE TABLE mesos AS
#    SELECT meso_protein_int_index FROM validprot""")
protein_index = con.execute("""SELECT meso_protein_int_index, thermo_protein_int_index FROM validprot""").df()

meso_protein_list = [i for i in protein_index['meso_protein_int_index']]
thermo_protein_list = [i for i in protein_index['thermo_protein_int_index']]

In [5]:
m = ', '.join(map(str, meso_protein_list))
t = ', '.join(map(str, thermo_protein_list))

In [7]:
con.execute(f"""CREATE OR REPLACE TABLE relevant_meso AS SELECT * FROM proteins WHERE protein_int_index IN ({m})""")
con.execute(f"""CREATE OR REPLACE TABLE relevant_thermo AS SELECT * FROM proteins WHERE protein_int_index IN ({t})""")

In [8]:
con.execute("""SELECT
    proteins_m.protein_seq AS meso_seq,
    proteins_t.protein_seq AS thermo_seq,
    FROM validprot
    JOIN relevant_meso AS proteins_m ON (validprot.meso_protein_int_index=proteins_m.protein_int_index)
    JOIN relevant_thermo AS proteins_t ON (validprot.thermo_protein_int_index=proteins_t.protein_int_index)
    """).df()

,meso_seq,thermo_seq
0,MIELIRTNDAVIISFVESLMRDAGIGCFVADQNMSVLDGSIGILPR...,MRELLRTNDTVRLSFLRVLLRDAGIDAIVLDQHMSVLEGSASAIPR...
1,MGFVTTRDGTEIFYKDWGTGTPVVFSHGWPLNADIWDDQLNLLAEN...,MTTTEGWHLPDRVRLTDGEVAAGVVGDGPPVVLTHGTPAWSFLWRS...
2,MRVRSGLVVAALLVAGVALTGCDMNVGLSGDSTHSARSFDLSGDAV...,MTNRRTGIVAALAATGMAVALGGCALLDATTYHEDRRYRLPATVSE...
3,MTTVIEVQELHKRYGDTVAVADVSFRVDEGEIFGILGSNGAGKTTT...,MTDQLGGLPLRLEGVVHLYPIPGGDVVALRGVDLRIQAGEIVGLLG...
4,MDLRGKVVVITGAAGGIGAAMARRFADAGVTGLVLADLDGTGVEDL...,MKSFAGKVAVITGAASGIGRALAEELAAHRAILALSDIDTEGLAET...
...,...,...
995,MSTPTGRADGLRQLEQEVGVLVRRVRRVIHERARSVHPDLQPVSYL...,MPTPPMTAIGDPNGDDVALGMLLATAHQHARRVLDRALGHLGIQTR...
996,MATDTRGLTTEPAVRVRSLHRSFTANGGVLNGLDLDIAAGEFVALI...,MSGMLTLQGLAVGYPGRRGRRARRVLEGVNAQARAGDLTVLIGPNG...
997,MAILYHHPLCPHSRFVRLAMGEYGLDADLVEERVWERREPFLALNP...,MRQLYHFWLSPFSRKVRLVLAEKKLDFELTAEPVWERRDDFLLLNP...
998,MTATATRPATDPAAPVTAGTGFLTSLRVFSVRSLKKSFRDGESMLM...,MGVAVAPQAVRVPERSVRHDLRAVKIVLHRELIWFWRDRMRLVANL...
999,MSLKLTDVTLTYPDGDSRLTALRQVSLEVPKGSLTAVVGPSGSGKS...,MTASATSRDRATAVEGDGRHRLHARDLRLAYGDRVIVDGLDFDVVD...